ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
    width: 90%;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
.active {
    background-color: #04AA6D;
}

.container{
    position: relative; /* o absolute */
    justify-content: center;
}
.info {
    display: flex;
    justify-content: center;
    border-style: solid;
    width: 90%;
    height: 50%;
    margin-bottom: 5%;
    background-color: white;

}
.info-first {
    display: flex;
    margin-top:3%;
    margin-bottom: 5%;
    flex-flow: column wrap;
    align-items: center;
}
.rectangles-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.info{
    justify-items: center;
}

.logo_images{
    display: flex;
    width: 7%;
    max-height: 80px; 
}
.image_2{
    width: 100%; 
    height: 100%;
}
.logo_images a + a {
    margin-left: 10px;
  }
