body {
  margin: 0;
  padding: 0;
  background-color: beige;
  font-family: Tahoma, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: 53vw;
}

header img {
  width: 100%;
  object-fit: cover;
  margin-top: 0;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

header h1 {
  font-family: "Fire code";
  font-size: 4em;
  color: white;
  -webkit-text-stroke: 1px black;
}

header h2 {
  line-height: 0;
}

.l1 {
  margin-bottom: 10%;
}
.l3 {
  margin-bottom: 20%;
}

.circle-img {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  border-radius: 50%;
  width: auto;
  height: 30%;
  object-fit: cover;
  border: 2px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.circle-img img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  padding: 5px;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
  background-color: #f1c40f;
  color: white;
  border-color: #f1c40f;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

section {
  margin: 60px 0;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 1000px;
}

section h2 {
  margin-top: 0;
}

#studies p {
  font-weight: bold;
  margin-bottom: 5px;
}

#studies p span {
  font-weight: normal;
}

#experience p span:first-child {
  font-weight: bold;
  margin-bottom: 5px;
}

#experience p span:last-child {
  font-weight: normal;
}

#experience ul li:before {
  content: "• ";
}

ul {
  list-style: none;
  padding: 0;
}

#skills ul.left li:before {
  content: "• ";
}

#skills ul.right li:before {
  content: "• ";
}

#skills ul.left {
  float: left;
  width: 50%;
}

#skills ul.right {
  float: right;
  width: 50%;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

iframe {
  width: 100%;
  display: block;
  margin: 0 auto;
  border: none;
  box-shadow: 0px 0px 5px #ccc;
  border-radius: 5px;
}
